body{
    margin-top:10px;
}





button
{
	display: inline-block;
  border-radius: 4px;
  background-color: #3f51b5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
  box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-line {
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid grey 1px;
    padding: 3px 10px;
font-family: Arial, Helvetica, sans-serif;
}

#send
{
	margin-left: 75%;
    margin-top: -3.3%;
    width:5.2%;
    height:50px;
}

#header
{
	width:60.1%;
	height:70px;
	background-color: #3f51b5;
	margin-left: 20%;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#onlineuser
{
width: 20px;
height:40%;
margin-right:5%;
background-color: grey;
}

#join
{
display: inline-block;
  border-radius: 4px;
  background-color: #3f51b5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
  box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

margin-left:0%;
}
#message
{
	width:60%;
	height:50px;

margin-left:20%;



}

#handle
{
	
	width:60%;
	height:30px;
	left:3%;
	top:10%;

}

#label
{
	font-size: 30px;
	background-color: 33B0FF;
	color: white;
	padding-right: 42.2%;
	padding-top:20px;
	padding-bottom: 15px;
	box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left: 25%;
}

#intro
{
	font-size: 50px;

}



#output
{

	height:80%;
	width: 60%;
	background-color: white;
	margin-left: 20%;

	
	border: 1px solid #A9A9A9;
	box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow-x: hidden;
	overflow-y: auto;
	
   display: inline-block;


}
#bubble
{
	background-color: #f0f0f0;
	margin-left:5%;
	margin-right: 10%;
	border-radius:20px 50px;
  word-wrap: break-word;
box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#textmessage
{
	padding-left: 20px;
	padding-top: 3px;
	padding-right: 30px;
	font-family: Arial, Helvetica, sans-serif;

}

#initialise
{
	width: 40%;
	height:60%;
	border:1px solid white;
	margin-left: 30%;
	margin-top: 5%;
	margin-right: auto;
	box-shadow:  0 0 10px  rgba(0,0,0,0.6);
			-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
			-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
			-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	border-radius: 10px;
	text-align:center;
}

strong
{
	color: #B22222;
	font-size: 18px;
}

#container
{
	height:85%;
	width: 10%;
	background-color: #F0F0F0;
	margin-left: 5%;
	
	border: 1px solid #A9A9A9;
	box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	display: inline-block;
	
}

